/* body {
  color: black;
} */

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.movie-list-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 2em;
}

.movie-list-list { 
  list-style-type: none;
  border-style: groove;
  width: 25%;
  padding-left: 1em;
  overflow-y: auto;
  max-height: 30em;

  &::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }
}

.movie-list-list li {
  margin: 8px 0; /* Adjust margin as needed */
}

.movie-list-list ul{
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.movie-detail-main {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  padding: 2em;
}

.movie-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 40%;
  padding: 1em;
}

.navbar-main { 
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 5em; */
}

.navbar-container { 
  display:flex;
  gap: 2em;
}

.navbar-search-container {
  height: 3em;
  padding-top: 0.5em;
  align-items: center;
}

.navbar-logo-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  color: black;
}

.navbar-logo {
  width: 3em;
  height: auto;
  border-radius: 40%;
}

.navlink {
  font-size: 1vw;
  font-style: normal;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navlink:hover{
  color:#281ae7;
  cursor: pointer;
}

.search-bar-container {
  display:flex;
  justify-content: space-between;
  width: 30em;
  padding-right: 1em;
  padding-left: 1em;
}

.search-bar { 
  height: 2em;
  border-radius: 1%;
}

.search-results {
  /* background-color: #202020; */
  width: 24%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 1em;
}

.search-results li {
  background-color: 'black';
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.search-results .navlink {
  font-size: 15px;
}

.signup-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-main Form {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.5em;
}

.signup-button {
  display: flex;
  justify-content: center;
  padding: 4px;
}